div{
		box-sizing : border-box;
	}
	
	#submenubar{
		width : 1200px;
		height: 150px;
		margin : auto;
	}
	#submenubar > searchForm{
		float : left;
	}
	#searchForm{
		width : 50%;
		height : 100%;
		position: relative;
		float: left;
	}
	#search{
		width : 300px;
		height : 40%;
		position : absolute;
		left: 30px;
		top : 50px;
	}
	#searchcon{
		width : 200px;
		height : 100%;
		border-bottom : 1px solid rgb(235, 235, 235);
	}
	#searchContent{
		outline : none;
		margin-top: 25px;
		margin-left: 5px;
		border : 0;
	}
	#searchImg{
		width : 30px;
		height: 60%;
		padding-top : 25px;
	}
	#searchimg{
		width : 30px;
		height: 30px;
		cursor: pointer;
	}
	#searchimg:hover{
		width : 31px;
		height: 31px;
	}
	#search > div{
		float: left;
	}

	.selectctg{
		width : 40%;
		height: 100%;
		float: left;
		position: relative;
	}
	#select{
		width : 220px;
	 	justify-content: space-between;
		height: 200px;
		position: absolute;
		right: 0;
        flex-direction: column;
        top : 30%;
	}
	#styleboardform, #styleaniform{
		width: 110px;
		height : 100%;
		float: left;
	}
	#selectstyle, #selectani{
		width : 110px;
		height : 30px;
	    display: flex;	
    	justify-content: center;
	}
	#styleboard, #styleani{
		width : 90px;
		height : 30px;
		font-size: 15px;
		font-weight: bold;
		background-color: rgb(248, 243, 221);
		color: rgba(122, 88, 33, 0.92);
		text-align : center;
		line-height: 30px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px; 
	    cursor: pointer;
	    float: left;
   		margin-right: 10px;
   	}
	#styleboard:hover, #styleani:hover{
		font-size: 16px;
	}
	#line{
		width : 300px;
		margin-left: 180px;
		margin-top : 15%;
		border: 1px solid rgba(190, 190, 190, 0.2);
	}
	
	#boardinfo, #aniinfo {
		display: none;
	}
	
	#boardinfo{
		width : 90%;
		height: 30%;
		background-color: rgba(190, 190, 190, 0.2);
	    border-radius: 10px;
        margin-top : 10px;
	}
	#aniinfo{
		width : 90%;
		background-color: rgba(190, 190, 190, 0.2);
	    border-radius: 10px;
	    margin-top : 10px;
	    top : 0;
		position: relative;
		z-index: 1000;
	}
	span{
		text-align: center;
		cursor: pointer;
		font-size: 15px;
	}
	span:hover{
		font-size: 16px;
	}
	#needgongan1{
		width : 800px;
		height: 80px;
		margin :auto;
	}
	#boardoutput{
		width :900px;
		height: auto;
		margin : auto;
	}
	#myboard{
		width : 900px;
		height: 150px;
		border: 1px solid rgb(214, 214, 214);
		margin : auto;
		border-radius: 10px;
		display: flex;
		position : relative;
		cursor :pointer;
	}
	#myboard:hover{
    	box-shadow : 1px 1px 1px;
	}
	#thumbnail {
		width: 150px;
		height: 150px;
	    overflow: hidden;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	
	#boardlist {
		width: 650px;
		height: 150px;
	}
	
	#thumbnail img {
		width: 99%;
		height: 99%;
		border: 1px solid rgb(214, 214, 214);
		object-fit: cover;  
	}
	#gomain{
		width: 900px;
		height: 120px;
		margin : auto;
		position : relative;
	}
	#mainbtn{
		width: 140px;
		height: 50px;
		position : absolute;
		right: 0;
		transform: translate(0, 10%);
	    font-size: 15px;
	    border-radius: 10px;
	    background-color: rgb(94, 87, 59);
	    color:white;
	    font-weight: bold;
	    bolder: 0;
	    cursor :pointer;
	}
	#mainbtn:hover{
		font-size: 16px;
		width: 141px;
		height: 51px;
	}
	#boardheader{
		width :670px;
		height: 25%;
		display: flex;
	}
	#boardme{
		width :100px;
		height: 100%;
		font-size : 20px;
		font-weight :bold;
	}
	#myboardAni{
		width : 470px;
		height: 100%;
	}
	.animalAndCategory{
		width :60px;
		height: 25px;
		background-color: rgb(255, 239, 175);	
		line-height: 30px;
		margin-top : 5px;
		font-weight: bold;
		margin-right: 5px;
		float : left;
	}	
	#boardCreate{
		width : 150px;
		height: 100%;
	}
	#boardtitle{
		width :670px;
		height: 25%;
	}
	#boardLike{
		width :100px;
		height :100%;	
		position :absolute;
		right: 0;	
	}
	#likeinfo{
		width : 100%;
		height: 25%;
	}
	#likeboard{
		width : 100%;
		height: 25%;
	}
	#seeboard{
		width : 100%;
		height: 25%;
		line-height: 30px;
	}
	#replyboard{
		width : 100%;
		height: 25%;
	}
	#boardoutput >a{
	    text-decoration: none;
	    color: black; 
	}
	#detailbtn{
		border: 0;
		background-color: white;
		color : black;
		width :30px;
		height: 20px;
		margin-left: 10px;
	}
	#likeboard>img{
		width : 35px;
		height: 35px;
	}
	#replyboard>img{
		width : 35px;
		height: 35px;
	}
	div {
		box-sizing: border-box;
	}
	
	#submenubar {
		width: 1200px;
		height: 150px;
		margin: auto;
	}
	
	#submenubar>searchForm {
		float: left;
	}
	
	#searchForm {
		width: 50%;
		height: 100%;
		position: relative;
		float: left;
	}
	
	#search {
		width: 300px;
		height: 40%;
		position: absolute;
		left: 30px;
		top: 50px;
	}
	
	#searchcon {
		width: 200px;
		height: 100%;
		border-bottom: 1px solid rgb(235, 235, 235);
	}
	
	#searchContent {
		outline: none;
		margin-top: 25px;
		margin-left: 5px;
		border: 0;
	}
	
	#searchImg {
		width: 30px;
		height: 60%;
		padding-top: 25px;
	}
	
	#searchimg {
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	
	#searchimg:hover {
		width: 31px;
		height: 31px;
	}
	
	#search>div {
		float: left;
	}
	
	.selectctg {
		width: 40%;
		height: 100%;
		float: left;
		position: relative;
	}
	
	#select {
		width: 220px;
		justify-content: space-between;
		height: 200px;
		position: absolute;
		right: 0;
		flex-direction: column;
		top: 30%;
	}
	
	#styleboardform, #styleaniform {
		width: 110px;
		height: 100%;
		float: left;
	}
	
	#selectstyle, #selectani {
		width: 110px;
		height: 30px;
		display: flex;
		justify-content: center;
	}
	
	#styleboard, #styleani {
		width: 90px;
		height: 30px;
		font-size: 15px;
		font-weight: bold;
		background-color: rgb(248, 243, 221);
		color: rgba(122, 88, 33, 0.92);
		text-align: center;
		line-height: 30px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		cursor: pointer;
		float: left;
		margin-right: 10px;
	}
	
	#styleboard:hover, #styleani:hover {
		font-size: 16px;
	}
	
	#line {
		width: 300px;
		margin-left: 180px;
		margin-top: 15%;
		border: 1px solid rgba(190, 190, 190, 0.2);
	}
	
	#boardinfo, #aniinfo {
		display: none;
	}
	
	#boardinfo {
		width: 90%;
		height: 30%;
		background-color: rgba(190, 190, 190, 0.2);
		border-radius: 10px;
		margin-top: 10px;
	}
	
	#aniinfo {
		width: 90%;
		background-color: rgba(190, 190, 190, 0.2);
		border-radius: 10px;
		margin-top: 10px;
		top: 0;
		position: relative;
		z-index: 1000;
	}
	
	span {
		text-align: center;
		cursor: pointer;
		font-size: 15px;
	}
	
	span:hover {
		font-size: 16px;
	}
	
	#needgongan1 {
		width: 800px;
		height: 80px;
		margin: auto;
	}
	
	#boardoutput {
		width: 900px;
		height: auto;
		margin: auto;
	}
	
	#myboard {
		width: 900px;
		height: 150px;
		border: 1px solid rgb(214, 214, 214);
		margin: auto;
		border-radius: 10px;
		display: flex;
		position: relative;
		cursor: pointer;
	}
	
	#myboard:hover {
		box-shadow: 1px 1px 1px;
	}
	
	#thumbnail {
		width: 150px;
		height: 150px;
	}
	
	#boardlist {
		width: 670px;
		height: 150px;
		margin-left: 5px;
	}
	
	#thumbnail img {
		width: 99%;
		height: 99%;
		border: 1px solid rgb(214, 214, 214);
	}
	
	#gomain {
		width: 900px;
		height: 120px;
		margin: auto;
		position: relative;
	}
	
	#mainbtn {
		width: 140px;
		height: 50px;
		position: absolute;
		right: 0;
		transform: translate(0, 10%);
		font-size: 15px;
		border-radius: 10px;
		background-color: rgb(94, 87, 59);
		color: white;
		font-weight: bold;
		bolder: 0;
		cursor: pointer;
	}
	
	#mainbtn:hover {
		font-size: 16px;
		width: 141px;
		height: 51px;
	}
	
	#boardheader {
		width: 670px;
		height: 25%;
		display: flex;
	}
	
	#boardme {
		width: 100px;
		height: 100%;
		font-size: 20px;
		font-weight: bold;
	}
	
	#myboardAni {
		width: 470px;
		height: 100%;
	}
	#boardtitle {
		width: 670px;
		height: 25%;
	}
	
	#boardcontent {
		width: 650px;
		height: 50%;
	}
	
	
	#likeinfo {
		width: 100%;
		height: 25%;
	}
	
	#likeboard {
		width: 100%;
		height: 25%;
	}
	
	#seeboard {
		width: 100%;
		height: 25%;
		line-height: 30px;
	}
	
	#replyboard {
		width: 100%;
		height: 25%;
	}
	
	#boardoutput>a {
		text-decoration: none;
		color: black;
	}
	
	#detailbtn {
		border: 0;
		background-color: white;
		color: black;
		width: 30px;
		height: 20px;
		margin-left: 10px;
	}
	
	#likeboard>img {
		width: 35px;
		height: 35px;
	}
	
	#replyboard>img {
		width: 35px;
		height: 35px;
	}
	
	#myani {
		background-color: rgba(242, 189, 108, 0.82);
	}
	
	#needgongan {
		width: 1200px;
		height: 50px;
		margin: auto;
	}