<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.pet.place.model.vo.Place" alias="place" />
		<typeAlias type="com.kh.pet.common.model.vo.Animal" alias="animal" />
		<typeAlias type="com.kh.pet.common.model.vo.Coupon" alias="coupon" />
		<typeAlias type="com.kh.pet.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.pet.member.model.vo.MemberCoupon" alias="memberCoupon" />
		<typeAlias type="com.kh.pet.info.model.vo.Info" alias="info" />
		<typeAlias type="com.kh.pet.common.model.vo.Attachment" alias="attachment"/>
		<typeAlias type="com.kh.pet.info.model.vo.Reply" alias="reply"/>
		<typeAlias type="com.kh.pet.info.model.vo.Comment" alias="comment"/>
		<typeAlias type="com.kh.pet.shop.model.vo.Product" alias="product"/>
		<typeAlias type="com.kh.pet.shop.model.vo.ProductOption" alias="productOption"/>
		<typeAlias type="com.kh.pet.shop.model.vo.ProductColor" alias="productColor"/>
		<typeAlias type="com.kh.pet.shop.model.vo.ProductSize" alias="productSize"/>
		<typeAlias type="com.kh.pet.shop.model.vo.Order" alias="order"/>
	</typeAliases>
	
	<typeHandlers>
	    <typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP"/>
	</typeHandlers>
	
	
	
	
	
	
	
	
	
	<mappers>
		<mapper resource="/mapper/place-mapper.xml" />
		<mapper resource="/mapper/member-mapper.xml" />
		<mapper resource="/mapper/community-mapper.xml" />
		<mapper resource="/mapper/info-mapper.xml" />
		<mapper resource="/mapper/reser-mapper.xml" />
		<mapper resource="/mapper/shop-mapper.xml"/>
		<mapper resource="/mapper/date-mapper.xml" />
	</mappers>
	
</configuration>