<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.pet.place.model.vo.Place" alias="place" />
		<typeAlias type="com.kh.pet.common.model.vo.Animal" alias="animal" />
		<typeAlias type="com.kh.pet.common.model.vo.Coupon" alias="coupon" />
		<typeAlias type="com.kh.pet.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.pet.member.model.vo.MemberCoupon" alias="memberCoupon" />
		<typeAlias type="java.util.List" alias="list" />
		<!-- <typeAlias type="com.kh.pet.info.model.vo.Info" alias="info" /> -->
	</typeAliases>
	
	
	
	
	
	
	
	
	
	
	
	<mappers>
		<mapper resource="/mapper/place-mapper.xml" />
		<mapper resource="/mapper/member-mapper.xml" />
		<mapper resource="/mapper/community-mapper.xml" />
		<mapper resource="/mapper/info-mapper.xml" />
	</mappers>
	
</configuration>