<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="infoMapper">
	
	<resultMap type="attachment" id="attachmentResultSet">
		<result column="ATT_NO" property="attNo"/>
		<result column="ATT_PATH" property="attPath"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="ATT_STATUS" property="attStaus"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="ATT_LELVEL" property="attLevel"/>
	</resultMap>
	
	<resultMap type="info" id="infoResultSet">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MEMBER_NO" property="memberNo"/>
		<result column="BO_CATEGORY_NAME" property="categoryCode"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="BOARD_STATUS" property="boardStatus"/>
		
		<result column="BOARD_LIKE" property="boardLike"/>
		
		<collection resultMap="attachmentResultSet" property="attachment"/>
	</resultMap>
	
	<select id="selectDate" parameterType="_int" resultMap="infoResultSet">
		SELECT
		       BOARD_NO,
		       BOARD_TITLE,
		       BOARD_CONTENT,
		       BOARD_COUNT,
		       CREATE_DATE,
		       MEMBER_NO,
		       BO_CATEGORY_NAME,
		       UPDATE_DATE,
		       BOARD_STATUS,
		       BOARD_LIKE,
		       ATT_NO,
		       ATT_PATH,
		       ORIGIN_NAME,
		       CHANGE_NAME,
		       ATT_STATUS,
		       ATT_LELVEL
		  FROM
		       TB_INFO
		  JOIN
		       TB_BOARD_CATEGORY ON(BO_CATEGORY_CODE = CATEGORY_CODE)
		  LEFT
		  JOIN
		       (SELECT
				       BOARD_NO,
				       COUNT(*) BOARD_LIKE
				  FROM
				       TB_LIKE
				 GROUP
				    BY
				       BOARD_NO) USING(BOARD_NO)
		  LEFT
		  JOIN
		       TB_ATTACHMENT USING(BOARD_NO)
		  JOIN
		       TB_BOARD_BRIDGE USING(BOARD_NO)
		 WHERE
		       BOARD_STATUS = 'Y'
		   AND
		       PLACE_NO = ${placeNo}
	</select>
	
	
	
	
	
	
	
	
</mapper>