<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopMapper">
	<resultMap type="productOption" id="productOptionResultSet">
		<result column="COLOR_NAME" property="colorName"/>
		<result column="SIZE_NAME" property="sizeName"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_AMOUNT" property="productAmount"/>
	</resultMap>

	<resultMap type="attachment" id="attachmentResultSet">
		<result column="ATT_NO" property="attNo"/>
		<result column="ATT_PATH" property="attPath"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="ATT_STATUS" property="attStaus"/>
		<result column="ATT_LELVEL" property="attLevel"/>
	</resultMap>
	
	<resultMap type="product" id="productResultSet">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCT_DATE" property="productDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="PRODUCT_DETAIL" property="productDetail"/>
		<result column="PR_CATEGORY_NAME" property="prCategoryName"/>
		
		<collection resultMap="productOptionResultSet" property="optionList"/>
		<collection resultMap="attachmentResultSet" property="attachment"/>
		
	</resultMap>
	

	
	<select id="selectListCount" parameterType="hashmap" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_PRODUCT
	<choose>
		<when test="animal == 'A0'">
			
			<choose>
				<when test="category == 'P0'">
				
				</when>
				<otherwise>
		WHERE
			  PR_CATEGORY_CODE = ${category}
				</otherwise>
			</choose>
		</when>
		<otherwise>
		  JOIN
               TB_PRODUCT_ANIMAL USING(PRODUCT_NO)
         WHERE
         	   ANIMAL_CODE = #{animal}
         	<choose>
         		<when test="category == 'P0'">
           
         		</when>
         		<otherwise>
           AND
           	   PR_CATEGORY_CODE = #{category}
         		</otherwise>
         	</choose>
		</otherwise>
	</choose>
		  	   
		  
		
		
	</select>
	
	<select id="selectAll" parameterType="hashmap" resultMap="productResultSet">
		SELECT
		       PRODUCT_NO,
		       PRODUCT_NAME,
		       PRICE,
		       PRODUCT_DATE,
		       
		       PR_CATEGORY_NAME,
               
               ANIMAL_NAME,
               ATT_PATH,
               CHANGE_NAME
		  FROM
		       TB_PRODUCT
		  JOIN
		       TB_PRODUCT_CATEGORY USING(PR_CATEGORY_CODE)
		  JOIN
               TB_PRO_ATTACH USING(PRODUCT_NO)
          JOIN
               TB_PRODUCT_ANIMAL USING(PRODUCT_NO)
          JOIN
               TB_ANIMAL USING(ANIMAL_CODE)
         WHERE
	<choose>
		<when test="animal == 'A0'">
			
			<choose>
				<when test="category == 'P0'">
				</when>
				<otherwise>
			   PR_CATEGORY_CODE = ${category}
		   AND
				</otherwise>
			</choose>
		</when>
		<otherwise>
         	   ANIMAL_CODE = #{animal}
           AND
         	<choose>
         		<when test="category == 'P0'">
           
         		</when>
         		<otherwise>
           	   PR_CATEGORY_CODE = #{category}
           AND
         		</otherwise>
         	</choose>
		</otherwise>
	</choose>
		   	   ATT_LEVEL = 1
	</select>
	
	
	
</mapper>