<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pet.shop.model.dao.ProductMapper">
	<resultMap type="productOption" id="productOptionResultSet">
		<result column="OPTION_NO" property="optionNo"/>
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_AMOUNT" property="productAmount"/>
		<result column="SIZE_CODE" property="sizeCode"/>
		<result column="SIZE_NAME" property="sizeName"/>
	</resultMap>

	<resultMap type="attachment" id="attachmentResultSet">
		<result column="ATT_NO" property="attNo"/>
		<result column="ATT_PATH" property="attPath"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="ATT_STATUS" property="attStaus"/>
		<result column="ATT_LELVEL" property="attLevel"/>
	</resultMap>
	
	<resultMap type="productColor" id="productColorResultSet">
		<result column="COLOR_CODE" property="colorCode"/>
		<result column="COLOR_NAME" property="colorName"/>
	</resultMap>
	
	<resultMap type="productSize" id="productSizeResultSet">
		<result column="SIZE_CODE" property="sizeCode"/>
		<result column="SIZE_NAME" property="sizeName"/>
	</resultMap>
	
	<resultMap type="product" id="productResultSet">
		<result column="PRODUCT_NO" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRICE" property="price"/>
		<result column="PRODUCT_DATE" property="productDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="PRODUCT_DETAIL" property="productDetail"/>
		<result column="PR_CATEGORY_NAME" property="prCategoryName"/>
		
		
		<collection resultMap="attachmentResultSet" property="attachment"/>
		
	</resultMap>
	
	<resultMap type="member" id="memberResultSet">
		<result column="ORDER_NAME" property="memberName"/>
		<result column="ORDER_TEL" property="phone"/>
	</resultMap>
	
	<resultMap type="order" id="orderResultSet">
		<result column="ORDER_NO" property="orderNo"/>
		<result column="DELIVERY_NO" property="deliveryNo"/>
		<result column="ORDER_DATE" property="orderDate"/>
		<result column="ORDER_STATUS" property="orderStatus"/>
		<result column="ORDER_UP" property="orderUp"/>
		
		<collection resultMap="memberResultSet" property="member"/>
	</resultMap>

	
	<select id="selectListCount" parameterType="hashmap" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_PRODUCT
	<choose>
		<when test="animal == 'A0'">
			
			<choose>
				<when test="category == 'P0'">
				
				</when>
				<otherwise>
		WHERE
			  PR_CATEGORY_CODE = #{category}
				</otherwise>
			</choose>
		</when>
		<otherwise>
		  JOIN
               TB_PRODUCT_ANIMAL USING(PRODUCT_NO)
         WHERE
         	   ANIMAL_CODE = #{animal}
         	<choose>
         		<when test="category == 'P0'">
           
         		</when>
         		<otherwise>
           AND
           	   PR_CATEGORY_CODE = #{category}
         		</otherwise>
         	</choose>
		</otherwise>
	</choose>
		  	   
		  
		
		
	</select>
	
	<select id="selectAll" parameterType="java.util.List" resultMap="productResultSet">
		SELECT
		       PRODUCT_NO,
		       PRODUCT_NAME,
		       PRICE,
		       PRODUCT_DATE,
		       
		       PR_CATEGORY_NAME,
               
               ANIMAL_NAME,
               ATT_PATH,
               CHANGE_NAME
		  FROM
		       TB_PRODUCT
		  JOIN
		       TB_PRODUCT_CATEGORY USING(PR_CATEGORY_CODE)
		  JOIN
               TB_PRO_ATTACH USING(PRODUCT_NO)
          JOIN
               TB_PRODUCT_ANIMAL USING(PRODUCT_NO)
          JOIN
               TB_ANIMAL USING(ANIMAL_CODE)
         WHERE
         	   ATT_LEVEL = 1
           AND
           	   PRODUCT_NO IN
			   <foreach collection="list" item="item" open="(" separator="," close=")">
			    #{item.productNo}
			   </foreach>
		  ORDER
		     BY
		     	PRODUCT_NO DESC
		   	   
	</select>
	<select id="selectOne" parameterType="_int" resultMap="productResultSet">
		SELECT
		        PRODUCT_NO,
		        PRODUCT_NAME,
		        PRICE,
		        PRODUCT_DATE,
		        UPDATE_DATE,
		        PRODUCT_DETAIL,
		        PR_CATEGORY_CODE,
		        
		        ATT_PATH,
		        CHANGE_NAME,
		        ATT_LEVEL,
		        ATT_STATUS,
		        
		        ANIMAL_NAME

		  FROM
		        TB_PRODUCT
		  JOIN
		        TB_PRODUCT_CATEGORY USING(PR_CATEGORY_CODE)
		  LEFT
		  JOIN
		        TB_PRO_ATTACH USING(PRODUCT_NO)
		  LEFT
		  JOIN
		        TB_PRODUCT_ANIMAL USING(PRODUCT_NO)
		  JOIN
		        TB_ANIMAL USING(ANIMAL_CODE)
		 WHERE
		        PRODUCT_NO = #{productNo}
	</select>
	
	<select id="selectCount" parameterType="hashmap" resultMap="productResultSet">
		SELECT
			   PRODUCT_NO
		  FROM
		  	   TB_PRODUCT
	<choose>
		<when test="animal == 'A0'">
			
			<choose>
				<when test="category == 'P0'">
				
				</when>
				<otherwise>
		WHERE
			  PR_CATEGORY_CODE = #{category}
				</otherwise>
			</choose>
		</when>
		<otherwise>
		  JOIN
               TB_PRODUCT_ANIMAL USING(PRODUCT_NO)
         WHERE
         	   ANIMAL_CODE = #{animal}
         	<choose>
         		<when test="category == 'P0'">
           
         		</when>
         		<otherwise>
           AND
           	   PR_CATEGORY_CODE = #{category}
         		</otherwise>
         	</choose>
		</otherwise>
	</choose>
	ORDER
	   BY
	   	  PRODUCT_NO DESC
	</select>
	
	<select id="selectColor" parameterType="_int" resultMap="productColorResultSet">
		SELECT *

		FROM(
				SELECT
		       			COLOR_CODE,
		       			COLOR_NAME,
		       			ROW_NUMBER() OVER(PARTITION BY COLOR_CODE ORDER BY COLOR_CODE) RN
		  		  FROM
		       			TB_PRODUCT_OPTION
		  		  JOIN
		       			TB_PRODUCT_COLOR USING(COLOR_CODE)	
		  		  JOIN
		       			TB_PRODUCT_SIZE USING(SIZE_CODE)
		 		 WHERE
		       			PRODUCT_NO = #{productNo})
		WHERE RN = 1
	
	</select>
	
	<select id="selectSize" parameterType="hashmap" resultMap="productOptionResultSet">
		SELECT
			   OPTION_NO,
		       SIZE_CODE,
		       SIZE_NAME,
		       PRODUCT_AMOUNT
		  FROM
		       TB_PRODUCT_OPTION
		  JOIN
		       TB_PRODUCT_SIZE USING(SIZE_CODE)
		  JOIN
		       TB_PRODUCT_COLOR USING(COLOR_CODE)
		 WHERE
		       COLOR_NAME = #{colorName}
		   AND
		       PRODUCT_NO = TO_NUMBER(#{productNo})
	
	</select>
	
	<insert id="insertOrder" parameterType="order">
		INSERT ALL
		  INTO
		  	  TB_ORDER
		 VALUES(
		 		SEQ_ORDNO.NEXTVAL,
		        (SELECT DELIVERY_NO FROM TB_DELIVERY WHERE MEMBER_NO = #{member.memberNo} AND DELIVERY_NAME = '집'),
		        SYSDATE,
		        'B',
		        SYSDATE,
		        #{member.memberName},
		        #{member.phone}
		        )
		  <foreach collection="optionList" item="option">
		  INTO
		       TB_ORDERLIST
		VALUES
		       (
		       SEQ_ORDNO.CURRVAL,
		       #{option.optionNo},
		       #{option.productAmount}
		       )
		  </foreach>
		  SELECT * FROM DUAL
			  	
	</insert>
	
	<select id="selectNowOrder" resultMap="orderResultSet">
		SELECT
		       *
		  FROM
		       (SELECT
		               ORDER_NO,
		               DELIVERY_NO,
		               ORDER_DATE,
		               ORDER_STATUS,
		               ORDER_UP,
		               ORDER_NAME,
		               ORDER_TEL
		          FROM
		               TB_ORDER
		         ORDER
		            BY ORDER_NO DESC 
		               )
		    WHERE ROWNUM = 1	 
	</select>
	
	<update id="updateOrder" parameterType="_int">
		UPDATE
		       TB_ORDER
		   SET
		   	   ORDER_STATUS = 'Y'
		 WHERE
		 	   ORDER_NO = #{orderNo}
	</update>
	
	<update id="updateProduct" parameterType="_int">
		UPDATE TB_PRODUCT_OPTION
		    SET PRODUCT_AMOUNT = PRODUCT_AMOUNT - (
		        SELECT ORDER_COUNT
		        FROM TB_ORDERLIST
		        WHERE TB_ORDERLIST.OPTION_NO = TB_PRODUCT_OPTION.OPTION_NO
		        AND TB_ORDERLIST.ORDER_NO = #{orderNo}
		    )
		WHERE OPTION_NO IN (
		    SELECT OPTION_NO
		    FROM TB_ORDERLIST
		    WHERE ORDER_NO = #{orderNo}
		)	
		
	</update>
	
</mapper>