.wrap{
	width : 1200px;
	height : 100%;
	margin : auto;
}

.searchCategory {
	width : 30%;
	height : 150px;
	float : left;
}



.blank_div {
	width : 15%;
	height : 150px;
	float : left;
}

.selectCategory {
	width : 55%;
	height : 150px;
	float : left;
}

.board_category {
	padding : 0px;
	padding-right : 155px;
	margin : 0px;
	float : right;
}

.animal_category {
	width : 100%;
	height : 100%;
}

.animal_category > img {
	width: 90px;
	height: 70px;
	margin : auto;
}

.communityList {
	width : 1100px;
	height : 100px;
	margin-top : 8px;
	margin-bottom : 8px;
}

.communityList > div:hover {
	cursor: pointer;
	border : 1px solid black;
}

.content_wrap {
	width : 1100px;
	height : auto;
	margin : auto;
}

.thumbnailImg {
	width : 20%;
	height : 100px;
	text-align : center;
	float : left;
}

.center_content {
	width : 60%;
	height : 100px;
	float : left;
}

.content_reaction {
	width : 20%;
	height : 100px;
	float : left;
}

.cr_detail {
	width : 200px;
	height : 33px;
	
	display: flex; /* 요소들을 가로로 배치 */
    align-items: center; 
}

.cr_detail > div {
    flex: 1; /* 각 자식 요소가 동일한 너비를 갖도록 설정 */
    display: flex; /* 요소들을 가로로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
}

.cr_detail > div > div {
    margin-right: 10px; /* 자식 요소 간 간격 설정 */
}

.cr_detail > div > img {
	width: 30px;
	height : 100%;
}

.cr_detail > div, .cr_detail > div > div {
	width : 100%;
	height : 20px;
	float : left;
}

/*
.cr_detail img {
	width: 20%;
	height: 100%;
	display : block;
	float: left;
}

.cr_detail > div {
	width : 80%;
	height : 100%;
	line-height : 33px;
	float : left;
	padding-left : 10px;
}
*/
.btnDiv > button {
	text-align : center;
}

.content_writer {
	float : left;
	margin-right : 20px;
}

.animalAndCategory {
	width : 50px;
	margin-left : 5px;
	float : left;
	text-align : center;
}















