<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<resultMap type="board" id="boardResultSet">
		<result column="BOARD_NO" property="boardNo"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_WRITER" property="boardWriter"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="COUNT" property="count"/>
		<result column="CREATE_DATE" property="createDate"/>
	
	</resultMap>
	
	
	<select id="selectListCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM	
		       BOARD
		 WHERE
		 	   STATUS = 'Y'
	
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT
			    BOARD_NO,
				BOARD_TITLE,
				BOARD_WRITER,
				ORIGIN_NAME,
				COUNT,
				TO_CHAR(CREATE_DATE,'YYYY-MM-DD') as "CREATE_DATE"
		  FROM
		  	   	BOARD
		 WHERE
		 	 	STATUS = 'Y'
		 ORDER
		 	BY
		 		BOARD_NO DESC
	</select>
	
	<insert id="insert" parameterType="board">
		INSERT
		  INTO
		  	  BOARD
		  	  (
		  	  BOARD_NO,
			  BOARD_TITLE,
			  BOARD_WRITER,
			  BOARD_CONTENT,
			  ORIGIN_NAME,
			  CHANGE_NAME
		  	  )
	  VALUES
	  		 (
	  		 SEQ_BNO.NEXTVAL,
	  		 #{boardTitle},
	  		 #{boardWriter},
	  		 #{boardContent},
	  		 #{originName},
	  		 #{changeName}
	  		 )
	</insert>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE
			   BOARD
		   SET
		   	   COUNT = COUNT + 1
		 WHERE
		 	   BOARD_NO = #{boardNo}
		   AND
		   	   STATUS = 'Y'
	
	</update>
	<select id="selectBoard" parameterType="_int" resultMap="boardResultSet">
		SELECT
			  BOARD_NO,
			  BOARD_TITLE,
			  BOARD_WRITER,
			  BOARD_CONTENT,
			  ORIGIN_NAME,
			  CHANGE_NAME,
			  TO_CHAR(CREATE_DATE,'YYYY-MM-DD') as "CREATE_DATE"
	     FROM	
	          BOARD
	    WHERE
		 	   BOARD_NO = #{boardNo}
		   AND
		   	   STATUS = 'Y'
	
	</select>
	
	<select id="searchBoardListCount" parameterType="hashmap" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   BOARD
		 WHERE
		       STATUS = 'Y'
		   AND
		 <choose>
		 	<when test="condition == 'content'">
		  	   BOARD_CONTENT
		 	</when>
		 	<when test="condition == 'title'">
		   	   BOARD_TITLE
		 	</when>
		 	<otherwise>
		   	   BOARD_WRITER
		 	</otherwise>
		 </choose>
		 LIKE '%' || #{keyword} || '%'
		 
		 	   
	</select>
	
	<select id="searchBoardList" parameterType="hashmap" resultMap="boardResultSet">
		SELECT
			   BOARD_NO,
				BOARD_TITLE,
				BOARD_WRITER,
				ORIGIN_NAME,
				COUNT,
				TO_CHAR(CREATE_DATE,'YYYY-MM-DD') as "CREATE_DATE"
		  FROM
		  	   BOARD
		 WHERE
		       STATUS = 'Y'
		   AND
		 <choose>
		 	<when test="condition == 'content'">
		  	   BOARD_CONTENT
		 	</when>
		 	<when test="condition == 'title'">
		   	   BOARD_TITLE
		 	</when>
		 	<otherwise>
		   	   BOARD_WRITER
		 	</otherwise>
		 </choose>
		 LIKE '%' || #{keyword} || '%'
		 ORDER
		 	BY
		 		BOARD_NO DESC
		 	   
	</select>
	
	<update id="delete" parameterType="_int">
		UPDATE
			   BOARD
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   BOARD_NO = #{boardNo}
	</update>
	
	<update id="update" parameterType="board">
		UPDATE
		   	   BOARD
		   SET
		   	   BOARD_TITLE = #{boardTitle},
		   	   BOARD_CONTENT = #{boardContent},
		   	   ORIGIN_NAME = #{originName},
		   	   CHANGE_NAME = #{changeName}
		 WHERE
		 	   BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectReply" parameterType="_int" resultType="reply">
		SELECT
			  REPLY_NO replyNo,
			  REPLY_CONTENT replyContent,
			  REPLY_WRITER replyWriter,
			  TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS "createDate"
		 FROM
		 	  REPLY
		WHERE
			  REF_BNO = #{boardNo}
		  AND
		  	  STATUS = 'Y'
		ORDER
		   BY
		      REPLY_NO DESC
	</select>
	<select id="findTopBoard" resultMap="boardResultSet">
		SELECT
       			*
		  FROM
		       (SELECT
		                BOARD_NO,
		                BOARD_TITLE,
		                BOARD_WRITER,
		                 COUNT,
		                TO_CHAR(CREATE_DATE,'YYYY-MM-DD') AS CREATE_DATE,
		                ORIGIN_NAME
		            FROM
		                BOARD
		            WHERE
		                STATUS = 'Y'
		            ORDER
		                BY
		                COUNT DESC)
		    WHERE
		          ROWNUM BETWEEN 1 AND 5
	</select>
	
	<insert id="insertReply" parameterType="reply">
		INSERT
		  INTO
		  	   REPLY(REPLY_NO,REPLY_CONTENT,REPLY_WRITER,REF_BNO)
		VALUES
			   (SEQ_RNO.NEXTVAL,#{replyContent},#{replyWriter},#{refBno})
	
	</insert>
	

</mapper>